
 
<header>
    <nav class="navbar">
        <div class="container-fluid">
          <a class="site-name" href="#">
           
            KitchenStory
          </a>
          <button  class="btn btn-primary" style="margin-left: '70%';">
            <i class="fa fa-shopping-cart" style="font-size: 20px;"></i>
            <div style="font-size:10px;" class="badge bg-danger">5</div>
            <div></div>
          </button>

          <a href="*" style="margin-right: '5%';text-decoration: none;font-size: 20px;color: aliceblue;">logout</a>
        </div>
      </nav>
      
     
    
</header>
