<div *ngIf='adminLoggedIn=="true"'>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
          <a class="navbar-brand" href="#">Kitchen story</a>
              <div class="container-fluid">
                <form class="form-inline my-2 my-lg-0 ms-auto nav-item">
                   <i class="fa fa-user nav-link" style="color: rgb(149, 144, 161)"> Admin</i> 
                  <div class="dropdown nav-item">
                    <button class="btn btn-outline-default nav-link" style="color: rgb(149, 144, 161)">settings</button>
                    <div class="dropdown-content">
                    <a href="/password"style="text-decoration:underline;color:blue;">Change password</a>
                    </div>
                  </div>
                  <button routerLink="/home" (click)="adminLogout()" class="btn btn-outline-info " type="submit">Log Out</button>
                </form>
               
              </div>
            </nav>
      </header>
    <form class="form-style-9 container" #f="ngForm" (ngSubmit)="f.form.valid&&submitPass(f.value)" style="margin-top:3%">
        <ul>
            <li>
                <!-- <label for="current">Current Password </label> -->
                <input id="current" name="current" class="field-style form-control  align-none" placeholder="Current Password" type="password" ngModel required #current="ngModel">
                <div *ngIf="current.touched&&current.invalid||f.submitted&&current.invalid" style="color:red">Enter old password</div>

            
                
            </li>
            <li>
                <!-- <label for="newPW">New Password</label> -->
                <input id="newPW" name="newPw" type="password" class="field-style  align-none" placeholder="New password" ngModel required #newPw="ngModel"><br/>
                <div *ngIf="newPw.touched&&current.invalid||f.submitted&&newPw.invalid" style="color:red">Enter new password</div>
            
            </li>
            <li>
                <!-- <label for="confirm">Confirm new password</label> -->
                <input id="confirm" name="confirm" type="password" class="field-style  align-none" placeholder="Confirm Password"ngModel required #confirm="ngModel"><br />
                <div *ngIf="confirm.touched&&current.invalid||f.submitted&&confirm.invalid" style="color:red">Confirm new password</div>
            
            </li>
            <li>
                <div *ngIf="!passMatch" style="color: red;">
                    The confirmation does not match.
                </div>
                <div *ngIf="incorrectPass" style="color: red;">
                    password is incorrect
                </div>
                <div *ngIf="success" style="color: green;">
                    Password changed successfully
                </div>
               
            </li>
            <li>
                <input type="submit">
            </li>
           
            </ul>
        
        
    
       
        
    
       
       
    
        
    </form>
      
      
    
    
    </div>