<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
    <a class="navbar-brand" href="#">Kitchen story</a>
        <div class="container-fluid">
          <form class="form-inline my-2 my-lg-0 ms-auto nav-item">
             <i class="fa fa-user nav-link" style="color: rgb(149, 144, 161)"> Welcome,{{username}}</i> 
             <button routerLink="/cart" class="btn btn-primary" style="margin-right: 20px;" >
              <i class="fa fa-shopping-cart" style="font-size: 20px;"></i>
              <div style="font-size:10px;" class="badge bg-danger">{{cartNumber}}</div>
              
            </button>
            
            <button routerLink="/home"  (click)="userLogout()" class="btn btn-outline-info " type="submit">Log Out</button>
          </form>
         
        </div>
      </nav>
</header>


<!-- <header>
    <nav class="navbar">
        <div class="container-fluid">
          <a class="site-name" href="#">
            KitchenStory
          </a>
          <p style="color: seashell;font-size: 20px;"> <i class="fa fa-user" aria-hidden="true"> Welcome,{{username}}</i></p>  
          <button routerLink="/cart" class="btn btn-primary" style="margin-left: '60%';">
            <i class="fa fa-shopping-cart" style="font-size: 20px;"></i>
            <div style="font-size:10px;" class="badge bg-danger">{{cartNumber}}</div>
            <div></div>
          </button>
         <button class="btn btn-primary" style="margin-right: 7%;width:130px" >
             <a routerLink="/home" (click)="userLogout()" style="text-decoration: none;color: cornsilk;">Logout</a>
         </button>
        </div>
      </nav>
</header> -->
<div class="container-fluid" style="margin-left: 2%;">
 
 
  <div class="container-fluid justify-content-center search-bar">
    <div class="row">
        <div class="col-md-5">
            <div class="input-group mb-3"> <input type="text" class="form-control input-text" placeholder="Search products...."  [(ngModel)]="term" aria-label="Recipient's username" aria-describedby="basic-addon2">
            
              <button type="submit" class="btn btn-primary"><i class="fa fa-search" ></i></button> 
            </div>
        </div>
    </div>
</div>

<div *ngIf="!noProduct" class="container-fluid" style="padding-left: 1%;padding-top: 1%;width:90%">
    <div *ngFor="let item of productList|filter:term" class="border" style="float:left;padding:8px;margin-left: 20px;margin-bottom: 40px;">
        
        <img src="{{item.imgUrl}}" style="height:140px;width:160px;padding: 4px;">
        <p>{{item.name}}</p>
        <p>Price(Rs): {{item.price}}</p>
        <p>Weight: {{item.weight}}</p>
        <button class="btn btn-success" (click)="addToCart(item.id,item.name,item.price,item.weight,item.imgUrl)">Add to Cart</button>

    </div>
</div>
<div *ngIf="noProduct" >
  ---------------No products available--------------

</div>
</div>


